{% extends "appbuilder/base.html" %}
{% block content %}
<div class="container">
  <h1>Fire & Bones Collectibles</h1>
  <h2>Total units in stock: {{ stock_total }}</h2>
  <table class="table table-bordered table-condensed table-hover" style="width: auto">
    <tr><th>Lot</th><th>Capital</th><th>Sold For</th><th>Fees</th><th>Fees %</th><th>Net Sold</th><th>Profit</th><th>ROI</th></tr>
{% for lot in lots %}
    <tr>
      <td>{{ lot.name }}</td>
      <td>${{ lot.price|round(2) }}</td>
      <td>${{ lot_totals[lot.id]['gross']|round(2) }}</td>
      <td>${{ lot_totals[lot.id]['fees']|round(2) }}</td>
      <td>{{ lot_totals[lot.id]['feepc']|round(2) }}%</td>
      <td>${{ lot_totals[lot.id]['net']|round(2) }}</td>
      <td>${{ lot_totals[lot.id]['profit']|round(2) }}</td>
      <td>{{ lot_totals[lot.id]['roi']|round(2) }}%</td>
    </tr>
{% endfor %}
    <tr>
      <th>Total</th>
      <th>${{ totals['capital']|round(2) }}</th>
      <th>${{ totals['gross']|round(2) }}</th>
      <th>${{ totals['fees']|round(2) }}</th>
      <th>{{ totals['feepc']|round(2) }}%</th>
      <th>${{ totals['net']|round(2) }}</th>
      <th>${{ totals['profit']|round(2) }}</th>
      <th>{{ totals['roi']|round(2) }}%</th>
    </tr>
  </table>
</div>
{% endblock %}